
.app-container {
  display: flex;
  height: 100vh; 
}

.sidebar {
  width: 250px;
  background: #f4f4f4;
  padding: 20px;
}

.header-content {
  display: flex;
  flex-direction: column; 
  align-items: center; 
  text-align: center; 
}

.header-content h1 {
  font-size: 25px;
  margin: 5px 0; 
}

.icon {
  width: 24px;
  height: auto; 
  margin: 5px 0; 
}



.sidebar input[type="text"] {
  width: calc(100% - 2px); 
  margin: 1;
  padding: 10px; 
}

.sidebar input[type="text"] {
  display: block; 
  box-sizing: border-box; 
  border: 1px solid #ccc; 
  border-radius: 4px; 
  
}
.main-content {
  margin-left: 20px;
  padding: 20px;
  width: 1000px; 
}

.note-editor {
  width: 100%;
  height: 100%;
  border: none;
  padding: 2em;
  box-sizing: border-box; 
}
.note {
  display: block;
  margin-top: 8px; 
}
.note-item {
  position: flex; 
  justify-content: space-between;
  align-items: center; 
  padding: 10px; 
  border-bottom: 1px solid #ddd;
}
.note-text {
  flex-grow: 1; 
  margin-right: 10px; 
  white-space: pre-wrap;
}
.trash-icon {
  cursor: pointer;
  font-size: 12px; 
  color: #333;
}
.save-button-container {
  display: flex;
  justify-content: center; 
  margin: 10px 0; 
}


.save-button {
  padding: 10px 20px; 
  border: none; 
  background-color: #f4f4f4; 
  color: black; 
  font-size: 16px; 
  border-radius: 5px; 
}

